#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";


        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   95       0     0     0>
            , <&key_physical_attrs 100 100  100   32       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   29       0     0     0>
            , <&key_physical_attrs 100 100  400   42       0     0     0>
            , <&key_physical_attrs 100 100  700   42       0     0     0>
            , <&key_physical_attrs 100 100  800   29       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000   32       0     0     0>
            , <&key_physical_attrs 100 100 1100   95       0     0     0>
            , <&key_physical_attrs 100 100    0  195       0     0     0>
            , <&key_physical_attrs 100 100  100  132       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  129       0     0     0>
            , <&key_physical_attrs 100 100  400  142       0     0     0>
            , <&key_physical_attrs 100 100  700  142       0     0     0>
            , <&key_physical_attrs 100 100  800  129       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  132       0     0     0>
            , <&key_physical_attrs 100 100 1100  195       0     0     0>
            , <&key_physical_attrs 100 100    0  295       0     0     0>
            , <&key_physical_attrs 100 100  100  232       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  229       0     0     0>
            , <&key_physical_attrs 100 100  400  242       0     0     0>
            , <&key_physical_attrs 100 100  700  242       0     0     0>
            , <&key_physical_attrs 100 100  800  229       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  232       0     0     0>
            , <&key_physical_attrs 100 100 1100  295       0     0     0>
            , <&key_physical_attrs 100 100  330  355    1500   430   455>
            , <&key_physical_attrs 100 100  430  355    3000   430   455>
            , <&key_physical_attrs 100 100  670  355 (-3000)   770   455>
            , <&key_physical_attrs 100 100  770  355 (-1500)   770   455>
            ;
    };
    position_map {
        compatible = "zmk,physical-layout-position-map";

        default_layout {
            physical-layout = <&default_layout>;
            positions
            = < 0  1  2  3  4  5  6  7  8  9>
            , <10 11 12 13 14 15 16 17 18 19>
            , <20 21 22 23 24 25 26 27 28 29>
            , <      30 31 32 33 34 35      >;
        };
    };
};